
{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container "style = "color:#D4DBF5;">
       
         
          


        <div class="card w-50 mt-5 " style = "margin: 0 auto;float: none;margin-bottom: 
                    10px;margin-top:30px;">

        

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0 mt-5">

            <!-- Form --> 
        
        <form class="text-center" style="color: #00030D;" action="#!" method="post">
            {% csrf_token %}
                <h5 class="card-header text-center py-2 mb-5" style =" color:#020B26">
                     <strong>Sign in</strong>
                 </h5>
           {{ form|crispy }}
              
            </div>

            <!-- Sign in button -->
            <button class="btn btn-dark btn-rounded btn-block my-2 waves-effect z-depth-0" type="submit" > 
              Sign in             
            </button>
            <a class="ml-2" href="{% url 'monitoring' %}">..</a>
            
         </form>

          

            

            </form>
            <!-- Form -->

        </div>

        </div>
        <!-- Material form login -->

            
</div>

{% endblock content %}
