
{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="limiter" >
    <div class="container" >
        
        <div class="wrap-login100">
            <div class="container" ></div>
            <div class="login100-pic js-tilt" data-tilt>
                <h4>Anomalies Detections</h4><h4>System</h4>
                <img src="./../static/differentiation-icon.png" alt="IMG">
            </div>
        
            <form class="login100-form  " method="POST">
                <span class="mb-5"style=" font-family: Poppins-Bold;
                font-size: 24px;
                color: #333333;
                
                text-align: center;" >
                    Sign IN
                </span>
            {% csrf_token %}
            <div class="mt-4">  
            {{ form|crispy }}
            </div>     
            
            <div class="container-login100-form-btn">
                <button class="btn"     style="
                background-color: #9EA231;
                color: aliceblue;
                ">
                    Login
                </button>
            </div>
            <!-- Sign in button -->
            
            
            <div class="text-center p-t-12">
                <span class="txt1">
                    Forgot Username / Password?
                </span>
               
            </div>

            <div class="text-center p-t-136">
                <a class="txt2" href="#">
                    Contact the adminstration
                    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </a>
            </div>
         </form>

          

            

      
            <!-- Form -->

        </div>

        </div>
        <!-- Material form login -->

            
</div>

{% endblock content %}
