
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}     
    
        <ul>
            <li><a href="{% url 'monitoring' %}">Monitoring</a></li>
            <div class="sortable-accordion"><li>
              <h3>Anomalies Detction</h3>
            <div class="inner">
              <ul class="sortable">
                <li class="ui-state-default"><a href="{% url 'detection' %}">OFFLINE</a></li> 
                 <li class="ui-state-default"><a href="{% url 'realtime' %}">Real Time </a></li>  
                 
               
             </ul> 
         </div></div></li>
            
            
     
            <li><a href="{% url 'logout' %}">Logout</a></li>
        
        </ul> 
        
        
    </div>
    <div class="main_content">
        <div class="header">
          <div class="row">
            <div class="col">
              Overview
            </div>
            <div class="col-md-auto">              
                 <i class="far fa-bell"></i>    
                 <span>{{context.query|length}}</span>        
            </div>
            <div class="col col-lg-2">              
              <i class="fa fa-question-circle" aria-hidden="true"></i>       
            </div>
            
          </div>
          
        </div>



<div class="container  ">
   
<div class="row align-items-center mt-2">
  <div class="col col-md-auto">   
    <form  method="POST" action="{% url 'simple_upload' %}"enctype="multipart/form-data" >
      {% csrf_token %}       
        <div class="row align-items-center">
          <div class="col">
            <div id="button2">
                <span ><i class="fas fa-upload ml-3" aria-hidden="true"></i></span>
                <input type="file" multiple name="csvfile">
           </div>
          </div>
       
      <!--               <form action="" method="POST" enctype="multipart/form-data">                 {% csrf_token %}
                  <div class="mt-3 ml-2">                   <p class="mb-1">p>
                    <input type="file" name="csvfile">             
                 </div>       
                  <div class="form-check ml-3" >
                                    >
                    <label class="form-check-label" for="delete">Delete if exist</label>
                  </div>
                -->
          <div class="col col-md-auto">
            <div class="row align-items-center">
                     
              <div class="col">
                <button style="border-width:2px;border-style: solid;border-color: #302673;" type="submit" class="btn" id="btnuplaod" >Uplaod</button>     
                
                
              </div>
                  
          
  
          </div>
          </div>
        </div>
       
                 
    
       
      
        
    </form> 
  </div>  </div>
  <P class="mt-2 ml-5">CSV FILES already UPLOADED</P>

  <div class="row  align-items-center">
    <div class="col ml-5">
     
      <div class="scrollbar"style='height: 350px;
      width: 350px;' id="style-4">
        <div class="force-overflow">
  
        
            {% if test == True %}
            <h5 class="container" style="text-align: center; 
                                     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                     color: #3a306b;"> there is no CSV file uplaoded</h5>
          {% else %}
          <div class="boxes">
            {% for i in context.filechecked %}
                          <div class="row">
                            <div class="col-8">
                            <form action="{% url 'satrtanomleisdetection' %}" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                            <input type="checkbox" name="checkfile" value="{{i}}" id="{{i}}">
                            <label for="{{i}}" >{{i}}</label>
                         
                          </form>
                          </div>
                          <form action="{% url 'deletefile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}  
                              <div class="col-lg-2">
                                
                                <button type="submit"  name="delete" value="{{i}}" class="btn btn-link px-3"
                               
                                ><i class="far fa-trash-alt"></i></button>
                                  
                                
                             
                              </div>
                            
                           </form>

                          </div>
                          
                          
                          
                          
              
                 
            {% endfor %}
          </div>
             {%  endif %}
       
            </div>
    </div>
  </div>    
  
  <div class="col">

          <div >
            <form action="{% url 'satrtanomleisdetection' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
          <a  href="{% url 'satrtanomleisdetection'%}">
          
            <button class="btn2" ><span>START</span></button>
            
          </a>
          </form>
          </div>
          <div class="col-12">
            {% if messages %}
              {% for message in messages %}
          
              <strong>{{message|safe}}</strong> 
            
              {% endfor %}
            {% endif %}
            {% if uploaded_file_url %}
                <p>File uploaded  <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
            {% endif %}
                
          </div>
          <div class="mt-3">
            <p id="demo"></p>
          </div>
          
    
  </div>
     
  

 
  <div class="table-responsive mt-5">
             <table class="table">
               <thead style="background-color: 3a306b; color:#fff;">
                 <tr>
                   <th>#</th>
                   <th>Flow_ID</th>
                   <th>Src_IP</th>
                   <th>Src_Port</th>
                   <th>Dst_IP</th>
                   <th>Dst_Port</th>
                   <th>Protocol</th>
                   <th>Timestamp</th>
                   <th>Classification</th>
                   
                 </tr>
               </thead>
               <tbody>
                 {%for i in context.query%}
                 
                 <tr>
                   {%for j in i%}

                      <td>{{j}}</td>
                      
                   {%endfor%}
                 </tr>
                 
                   {%endfor%}
               </tbody>
             </table>
     
</div>
   
   


    </div>
  </form>
  
</div>
          

 
 {%endblock content%}