
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}     
    
        <ul>
            <li><a href="{% url 'monitoring' %}">Monitoring</a></li>
            <li style="background-color: #3a306b;color: #DFDF29;"><a href="#">Anomalies Detction</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        
        </ul> 
        
        
    </div>
    <div class="main_content">
        <div class="header">
          <div class="row">
            <div class="col">
              Overview
            </div>
            <div class="col-md-auto">              
                 <i class="far fa-bell"></i>            
            </div>
            <div class="col col-lg-2">              
              <i class="fa fa-question-circle" aria-hidden="true"></i>       
            </div>
            
          </div>
          
        </div>

        <div class="container  ">
        <div class="btn-group-vertical mt-5 ">
            <a href=""><button type="button" class="btn  " style="
                                                             background-color: #9EA231;
                                                             color: aliceblue;">Start Detction of Anomalies</button>
            </a>
            
            <button type="button" class="btn mt-3" style="
                                                             background-color: #9EA231;
                                                             color: aliceblue;">stope</button>
                                                             
        </div> 
        </div>
        
 {%endblock content%}