
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}     
    
        <ul>
            <li><a href="{% url 'monitoring' %}">Monitoring</a></li>
            <li><a href="{% url 'detection' %}">Anomalies Detction</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        
        </ul> 
        
        
    </div>
    <div class="main_content">
        <div class="header">
          <div class="row">
            <div class="col">
              Overview
            </div>
            <div class="col-md-auto">              
                 <i class="far fa-bell"></i>            
            </div>
            <div class="col col-lg-2">              
              <i class="fa fa-question-circle" aria-hidden="true"></i>       
            </div>
            
          </div>
          
        </div>

        <div class="container  ">
          <P class="mt-5 ml-3">what do you test </P>
         <div  style="width:400px; height: 100px; overflow-y: scroll;">
          <form action="{% url 'satrtanomleisdetection' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
          {% if test == True %}
          <h5 class="container" style="text-align: center; 
                                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                        color: #3a306b;"> there is no CSV file uplaoded</h5>
          {% else %}
          
            {% for i in context.filechecked %}
        
            <div class="custom-control custom-checkbox custom-control ml-2">
            <input type="checkbox" class="custom-control-input" name="checkfile" value="{{i}}" id="{{i}}">
            <label class="custom-control-label" for="{{i}}" >{{i}}</label>
          </div>
            
              {% endfor %}
          
          {%  endif %}
      <div>
       
      </div>
    </div>    

        <div class="btn-group-vertical  ">
            <a href="{% url 'satrtanomleisdetection'%}">
              <button class="btn" type="submit"
              
                          
              
              >Start Detction of Anomalies</button>
            </a>

            



        
        </div> 
      <div>
        {% if messages %}
          {% for message in messages %}
        
            <strong>{{message|safe}}</strong>
        
          {% endfor %}
        {%endif%}

      </div>
        
        <div class="table-responsive mt-5">
                <table class="table">
                  <thead style="background-color: 3a306b; color:#fff;">
                    <tr>
                      <th>#</th>
                      <th>Flow_ID</th>
                      <th>Src_IP</th>
                      <th>Src_Port</th>
                      <th>Dst_IP</th>
                      <th>Dst_Port</th>
                      <th>Protocol</th>
                      <th>Timestamp</th>
                      <th>Classification</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {%for i in context.query%}
                    
                    <tr>
                      {%for j in i%}
                        
                         <td>{{j}}</td>
                         
                      {%endfor%}
                    </tr>
                    
                      {%endfor%}
                  </tbody>
                </table>
        <div id="employee_table">
        </div>
        </div>
      </form>
      

      
 
 
 {%endblock content%}