{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %} 
        
        <ul>
            <li><a href="{% url 'monitoring'%}">Monitoring</a></li>
            <li><a href="#">Anomalies Detction</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        
        </ul> 
        
        
    </div>
    <div class="main_content">
        <div class="header">
          <div class="row">
            <div class="col">
              Overview
            </div>
            <div class="col-md-auto">              
                 <i class="far fa-bell"></i>            
            </div>
            <div class="col col-lg-2">              
              <i class="fa fa-question-circle" aria-hidden="true"></i>       
            </div>
            
          </div>
          
        </div> 
{%endblock content%}