{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %} 
        
        <ul>
            <li ><a href="{%url 'monitoring'%}">Monitoring</a></li>
            <li><a href="{% url 'detection' %}">Anomalies Detction</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

        </ul> 
        
        
    </div>
    <div class="main_content">
        <div class="header">
          <div class="row">
            <div class="col">
              Overview
            </div>
            <div class="col-md-auto">              
                 <i class="far fa-bell"></i>            
            </div>
            <div class="col col-lg-2">              
              <i class="fa fa-question-circle" aria-hidden="true"></i>       
            </div>
            
          </div>
          
        </div>

        

<div class="container  ">
 
<div class="row align-items-center mt-5">
  <div class="col-lg-2">
    <a href="{% url 'startcicflowmter'%}" id ="button">Start CICFlowMetre</a>
  </div>
  <div class="col col-md-auto">   
  <form  method="POST" action="{% url 'simple_upload' %}"enctype="multipart/form-data" >
    {% csrf_token %}       
      <div class="row align-items-center">
        <div class="col">
          <div id="button2">
              <span ><i class="fas fa-upload ml-3" aria-hidden="true"></i></span>
              <input type="file" multiple name="csvfile">
         </div>
        </div>
     
    <!--               <form action="" method="POST" enctype="multipart/form-data">                 {% csrf_token %}
                <div class="mt-3 ml-2">                   <p class="mb-1">p>
                  <input type="file" name="csvfile">             
               </div>       
                <div class="form-check ml-3" >
                                  <input type="checkbox" value="delete" class="form-check-input" id="delete" name="delete">
                  <label class="form-check-label" for="delete">Delete if exist</label>
                </div>
              -->
        <div class="col col-md-auto">
          <div class="row align-items-center">
                   
            <div class="col">
              <button style="border-width:2px;border-style: solid;border-color: #302673;" type="submit" class="btn" id="btnuplaod" >Uplaod</button>     
              
              
            </div>
                <div class="col">
                  <button type="button" name="load_data" id="load_data" class="btn" style="border-width:2px;border-style: solid;border-color: #302673;" >show </button>
                </div>
       
        

        </div>
        </div>
      </div>
     
               
  
     
    
      
  </form> 
</div>  <div class="col-12">
  {% if messages %}
    {% for message in messages %}

    <strong>{{message|safe}}</strong> 
  
    {% endfor %}
  {% endif %}
  {% if uploaded_file_url %}
      <p>File uploaded  <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
      
</div><!--
<div style="width:20em;margin:0 auto;">

  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_egwdrB.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
 </div>-->
  </div> 
  
 
  <table  id="mytable" class="table table-hover table-fixed mt-5 " 
  width="100%" >
  <thead>              
  <tr>
  <th >Flow ID</th>
  <th >Src IP</th>
  <th >Src Port</th>
  <th >Dst IP</th>
  <th >Dst Port</th>
  <th >Protocol</th>
  <th >Timestamp</th>
  </tr>
</thead>

</table>
<div class="tableFix" id="employee_table"></div>

                            
           <!--   <table  class="table table-striped table-bordered table-sm" cellspacing="0"
              width="100%">
              <thead>              
              <tr>
              <th class="th-sm" >Flow ID</th>
              <th class="th-sm" >Src IP</th>
              <th class="th-sm" >Src Port</th>
              <th class="th-sm" >Dst IP</th>
              <th class="th-sm" >Dst Port</th>
              <th class="th-sm" >Protocol</th>
              <th class="th-sm" >Timestamp</th>
              <th class="th-sm" >Flow Duration</th>
              <th class="th-sm" >Tot Fwd Pkts</th>
              <th class="th-sm" >Tot Bwd Pkts</th>
              <th class="th-sm" >TotLen Fwd Pkts</th>
              <th class="th-sm" >TotLen Bwd Pkts</th>
              <th class="th-sm" >Fwd Pkt Len Max</th>
              <th class="th-sm" >Fwd Pkt Len Min</th>
              <th class="th-sm" >Fwd Pkt Len Mean</th>
              <th class="th-sm" >Fwd Pkt Len Std</th>
              <th class="th-sm" >Bwd Pkt Len Max</th>
              <th class="th-sm" >Bwd Pkt Len Min</th>
              <th class="th-sm" >Bwd Pkt Len Mean</th>
              <th class="th-sm" >Bwd Pkt Len Std</th>
              <th class="th-sm" >Flow Byts/s</th>
              <th class="th-sm" >Flow Pkts/s</th>
              <th class="th-sm" >Flow IAT Mean</th>
              <th class="th-sm" >Flow IAT Std</th>
              <th class="th-sm" >Flow IAT Max</th>
              <th class="th-sm" >Flow IAT Min</th>
              <th class="th-sm" >Fwd IAT Tot</th>
              <th class="th-sm" >Fwd IAT Mean</th>
              <th class="th-sm" >Fwd IAT Std</th>
              <th class="th-sm" >Fwd IAT Max</th>
              <th class="th-sm" >Fwd IAT Min</th>
              <th class="th-sm" >Bwd IAT Tot</th>
              <th class="th-sm" >Bwd IAT Mean</th>
              <th class="th-sm" >Bwd IAT Std</th>
              <th class="th-sm" >Bwd IAT Max</th>
              <th class="th-sm" >Bwd IAT Min</th>
              <th class="th-sm" >Fwd PSH Flags</th>
              <th class="th-sm" >Bwd PSH Flags</th>
              <th class="th-sm" >Fwd URG Flags</th>
              <th class="th-sm" >Bwd URG Flags</th>
              <th class="th-sm" >Fwd Header Len</th>
              <th class="th-sm" >Bwd Header Len</th>
              <th class="th-sm" >Fwd Pkts/s</th>
              <th class="th-sm" >Bwd Pkts/s</th>
              <th class="th-sm" >Pkt Len Min</th>
              <th class="th-sm" >Pkt Len Max</th>
              <th class="th-sm" >Pkt Len Mean</th>
              <th class="th-sm" >Pkt Len Std</th>
              <th class="th-sm" >Pkt Len Var</th>
              <th class="th-sm" >FIN Flag Cnt</th>
              <th class="th-sm" >SYN Flag Cnt</th>
              <th class="th-sm" >RST Flag Cnt</th>
              <th class="th-sm" >PSH Flag Cnt</th>
              <th class="th-sm" >ACK Flag Cnt</th>
              <th class="th-sm" >URG Flag Cnt</th>
              <th class="th-sm" >CWE Flag Count</th>
              <th class="th-sm" >ECE Flag Cnt</th>
              <th class="th-sm" >Down/Up Ratio</th>
              <th class="th-sm" >Pkt Size Avg</th>
              <th class="th-sm" >Fwd Seg Size Avg</th>
              <th class="th-sm" >Bwd Seg Size Avg</th>
              <th class="th-sm" >Fwd Byts/b Avg</th>
              <th class="th-sm" >Fwd Pkts/b Avg</th>
              <th class="th-sm" >Fwd Blk Rate Avg</th>
              <th class="th-sm" >Bwd Byts/b Avg</th>
              <th class="th-sm" >Bwd Pkts/b Avg</th>
              <th class="th-sm" >Bwd Blk Rate Avg</th>
              <th class="th-sm" >Subflow Fwd Pkts</th>
              <th class="th-sm" >Subflow Fwd Byts</th>
              <th class="th-sm" >Subflow Bwd Pkts</th>
              <th class="th-sm" >Subflow Bwd Byts</th>
              <th class="th-sm" >Init Fwd Win Byts</th>
              <th class="th-sm" >Init Bwd Win Byts</th>
              <th class="th-sm" >Fwd Act Data Pkts</th>
              <th class="th-sm" >Fwd Seg Size Min</th>
              <th class="th-sm" >Active Mean</th>
              <th class="th-sm" >Active Std</th>
              <th class="th-sm" >Active Max</th>
              <th class="th-sm" >Active Min</th>
              <th class="th-sm" >Idle Mean</th>
              <th class="th-sm" >Idle Std</th>
              <th class="th-sm" >Idle Max</th>
              <th class="th-sm" >Idle Min</th>

              <th class="th-sm" >Label</th>

              </tr>
                          
              </thead>
            </table>-->
            
        
          
  
       

      
           
        </div>          
    </div>


<script>






  $(document).ready(function(){
    
 $('#load_data').click(function(){
   var a = document.getElementById('mytable')
   a.style.color = '#eeeded'
   a.style.backgroundColor='#302673'
  $.ajax({
   url:"{{uploaded_file_url}}",
   dataType:"text",
   success:function(data)
   {
    var employee_data = data.split(/\r?\n|\r/);
    var table_data = '<table class="table table-hover table-fixed" >';
    var t = ""
    for(var count = 1; count<employee_data.length; count++) /*employee_data.*/
    {
     var cell_data = employee_data[count].split(",");
     table_data+='<tbody >'
     for(var cell_count=0; cell_count<7; cell_count++)
     {
      
      if(count === 0)
      {
       table_data += '<th >'+cell_data[cell_count]+'</th>';
      }
      else
      {
       table_data += '<td>'+cell_data[cell_count]+'</td>';
      }
      
     }
     table_data+='<tbody>'
    }
    
    table_data += '</table>';
    $('#employee_table').html(table_data);
   }
  });
 });
 
});


function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);

  } else {
    removeUpload();
  }
}



</script>
    {%endblock content%}