{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %} 
        
            <ul>
            <li><a href="{% url 'monitoring' %}">Monitoring</a></li>
            <div class="sortable-accordion"><li>
              <h3>Anomalies Detction</h3>
            <div class="inner">
              <ul class="sortable">
                <li class="ui-state-default"><a href="{% url 'detection' %}">OFFLINE</a></li> 
                 <li class="ui-state-default"><a href="{% url 'realtime' %}">Real Time </a></li>  
                 
               
             </ul> 
         </div></li></div>
            
            
     
            <li><a href="{% url 'logout' %}">Logout</a></li>
        
        </ul> 
        
        
    </div>
    <div class="main_content">
        <div class="header">
          <div class="row">
            <div class="col">
              Overview
            </div>
            <div class="col-md-auto">              
                            
            </div>
            <div class="col col-lg-2">              
              
            </div>
            
          </div>
          
        </div>

        

<div class="container ">
 <div class="ml-5">
<div class="row align-items-center mt-5 ml-5 mr-5">
 
  <a id ="button" class="startcic" >
    <div class="col-6" >
      Start CICFlowMetre
    </div></a>
    <div class="col-lg-4" >
   
      <lottie-player  src=" https://assets5.lottiefiles.com/temp/lf20_RQNj3O.json"  background="transparent"  speed="1" style="width: 300px; height: 300px;" loop autoplay> </lottie-player>
    </div>
   
    <a class="stopcic"id ="button" >
      <div class="col-md-auto" >
        Stop CICFlowMetre
      </div>
    </a>
 
  

  

  </div> 
  
</div>
  <table  class="table table-hover table-fixed mt-5 " 
  width="100%" >

  <thead id="mytable" >              
  <tr>
  <th style="width: 50px" >Src IP</th>
  <th style="width: 50px">Src Port</th>
  <th style="width: 50px">Dst IP</th>
  <th style="width: 50px">Dst Port</th>
  <th style="width: 50px">Protocol</th>
  <th style="width: 50px">Timestamp</th>
  </tr>
</thead>

<tbody id="items" value = "items" name="items" class="scrollbar ml-1">

</tbody>

</table>
<a id="showcsvfile" style="visibility: hidden;"> show the CSV file</a>                           
           
        </div>          
    </div>




<script>

   function addHeaders(table, keys) {
  var row = table.insertRow();
  for( var i = 0; i < keys.length; i++ ) {
    var cell = row.insertCell();
    cell.appendChild(document.createTextNode(keys[i]));
  }
}
var table = document.createElement('table');

$('.startcic').click(function(){

var aa = setInterval(function(){

   var a = document.getElementById('mytable')
   a.style.color = '#eeeded'
   a.style.backgroundColor='#302673'
  $.ajax({
    type: "GET",
    url: '{% url "showdata"%}',
    success:function(data)
   {
    
    a= data["flows"]
 


for( var i = 0; i < a.length; i++ ) {

  var child = a[i];
 
  var row = table.insertRow();
  Object.keys(child).forEach(function(k) {
        var cell = row.insertCell();
    cell.appendChild(document.createTextNode(child[k]));
  })
 
}

document.getElementById('items').appendChild(table);
    
     

    

   }
  });
 }, 5000);
 

document.getElementById("showcsvfile").style.visibility = "visible"

});

$('.stopcic').click(function(){

  $.ajax({
    type: "GET",
    url: '{% url "stopcicflowmter"%}',
    success:function(data)
   {
    
    alert('CICFLOWMETRE STOPED')
  }})
})
$('#showcsvfile').click(function(){

$.ajax({
  type: "GET",
  url: '{% url "showcsvfile"%}',
  success:function(data)
 {
  
  
}})
});
$('#button').click(function(){
  $.ajax({
    type: "GET",
    url: '{% url "startcicflowmter"%}',
    
    success: function(json){

    }})

}); 

</script>
    {%endblock content%}