{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %} 
        
        <ul>
            <li ><a href="{%url 'monitoring'%}">Monitoring</a></li>
            <li><a href="{% url 'detection' %}">Anomalies Detction</a></li>
            <li><a href="{% url 'realtime' %}">Real Time Anomalies Detction</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

        </ul> 
        
        
    </div>
    <div class="main_content">
        <div class="header">
          <div class="row">
            <div class="col">
              Overview
            </div>
            <div class="col-md-auto">              
                 <i class="far fa-bell"></i>            
            </div>
            <div class="col col-lg-2">              
              <i class="fa fa-question-circle" aria-hidden="true"></i>       
            </div>
            
          </div>
          
        </div>

        

<div class="container  ">
 
<div class="row align-items-center mt-5">
  <div class="col-lg-2" id ="button">
    <a href="{% url 'startcicflowmter'%}" >Start CICFlowMetre</a>
  </div>
  <div class="col-lg-2">
    <a href="{% url 'stopcicflowmter'%}" id ="button">Stop CICFlowMetre</a>
  </div>
  <div class="col col-md-auto">   
  <form  method="POST" action="{% url 'simple_upload' %}"enctype="multipart/form-data" >
    {% csrf_token %}       
      <div class="row align-items-center">
        <div class="col">
          <div id="button2">
              <span ><i class="fas fa-upload ml-3" aria-hidden="true"></i></span>
              <input type="file" multiple name="csvfile">
         </div>
        </div>
     
    <!--               <form action="" method="POST" enctype="multipart/form-data">                 {% csrf_token %}
                <div class="mt-3 ml-2">                   <p class="mb-1">p>
                  <input type="file" name="csvfile">             
               </div>       
                <div class="form-check ml-3" >
                                  <input type="checkbox" value="delete" class="form-check-input" id="delete" name="delete">
                  <label class="form-check-label" for="delete">Delete if exist</label>
                </div>
              -->
        <div class="col col-md-auto">
          <div class="row align-items-center">
                   
            <div class="col">
              <button style="border-width:2px;border-style: solid;border-color: #302673;" type="submit" class="btn" id="btnuplaod" >Uplaod</button>     
              
              
            </div>
                <div class="col">
                  <button type="button" name="load_data" id="load_data" class="btn" style="border-width:2px;border-style: solid;border-color: #302673;" >show </button>
                </div>
       
        

        </div>
        </div>
      </div>
     
               
  
     
    
      
  </form> 
</div>  <div class="col-12">
  {% if messages %}
    {% for message in messages %}

    <strong>{{message|safe}}</strong> 
  
    {% endfor %}
  {% endif %}
  {% if uploaded_file_url %}
      <p>File uploaded  <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
      
</div>

  </div> 
  

  <table  class="table table-hover table-fixed mt-5 " 
  width="100%" >

  <thead id="mytable" >              
  <tr>
  <th style="width: 50px" >Src IP</th>
  <th style="width: 50px">Src Port</th>
  <th style="width: 50px">Dst IP</th>
  <th style="width: 50px">Dst Port</th>
  <th style="width: 50px">Protocol</th>
  <th style="width: 50px">Timestamp</th>
  </tr>
</thead>

<tbody id="items"  class="scrollbar ml-1">

</tbody>

</table>


                            
           
        </div>          
    </div>


<script>
   function addHeaders(table, keys) {
  var row = table.insertRow();
  for( var i = 0; i < keys.length; i++ ) {
    var cell = row.insertCell();
    cell.appendChild(document.createTextNode(keys[i]));
  }
}
$('#button').click(function(){
var aa = setInterval(function(){

   var a = document.getElementById('mytable')
   a.style.color = '#eeeded'
   a.style.backgroundColor='#302673'
  $.ajax({
    type: "GET",
    url: '{% url "showdata"%}',
  
    success:function(data)
   {
    
    a= data["flows"]
 

var table = document.createElement('table');
for( var i = 0; i < a.length; i++ ) {

  var child = a[i];

  var row = table.insertRow();
  Object.keys(child).forEach(function(k) {
        var cell = row.insertCell();
    cell.appendChild(document.createTextNode(child[k]));
  })
}

document.getElementById('items').appendChild(table);
    
     
            
    

   }
  });
 }, 5000);
 



});


</script>
    {%endblock content%}