
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}     
    
<ul>
  <li><a href="{% url 'monitoring' %}">Monitoring</a></li>
  <div class="sortable-accordion"><li>
    <h3>Anomaly Detection</h3>
  <div class="inner">
    <ul class="sortable">
      <li class="ui-state-default"><a href="{% url 'detection' %}">Offline</a></li> 
       <li class="ui-state-default"><a href="{% url 'realtime' %}">Real Time </a></li>  
       
     
   </ul> 
</div></li></div>
  

  <li><a href="{% url 'logout' %}">Logout</a></li>

</ul> 
        
      </div>
    <div class="main_content">
        <div class="header mr-5">
          <div class="row mr-5">
            <div class="col col-lg-4">
              Overview
            </div>
            <div class="col col-lg-2">              
                   
            </div>
            <div class="col col-lg-2 " id="detection" style="visibility: hidden;">
              
              
               <div><span id="p" style="margin: 30px;"></span></div>
            </div>
            
            <div class="col ">              
                   
            </div>
             
            <div class="col ">              
                   
            </div>
            
          </div>
          
        </div>



<div class="container  ">
  <div class="row align-items-center">
          <div class="col">


    </div>
    <div class="col-6">
    <div class="row align-items-center " style='
    border-block-end: 2px solid #a19cbd;
    '> 
            <div class="col">
            <a id="start"  >
            
              <lottie-player id="str" src=" https://assets2.lottiefiles.com/private_files/lf30_gtENKI.json"  background="transparent"  speed="1"  style="width: 100px; height: 100px;"  loop autoplay> </lottie-player>
             
            <span style="margin: 25px;">START</span>        
             </a >
             <a id ="buttonstart"  >
              <p           
               >Start CICFlowMetre </p>
              </a>  
             </div>
  
      <div class="col"id="loadbtn" style="visibility: hidden;" >
        <lottie-player  src=" https://assets10.lottiefiles.com/datafiles/ORpUnaV6z0mJ17E/data.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop autoplay> </lottie-player>
      </div>
      <div class=" col">
        <button id="btnuplazod" data-toggle="modal" data-target="#centralModalSuccess">STOP </button>
      </div>
       
    </div>
      </div>
    <div class="col"></div></div>
    <div class="mt-5"> <span id="numflow" ></span>
    <span>Flows</span></div>
    
  <table  class="table table-hover table-fixed  " 
  width="100%" >

  <thead id="mytable" style="background-color: #302673;" >              
  <tr>
  <th style="width: 30px" >#</th>
  <th style="width: 30px">Flow Id</th>
  <th style="width: 30px" >Src IP</th>
  <th style="width: 30px">Src Port</th>
  <th style="width: 30px">Dst IP</th>
  <th style="width: 30px">Dst Port</th>
  <th style="width: 10px">Protocol</th>
  <th style="width: 30px">Timestamp</th>
  <th style="width: 40px">ClassOfAttack</th>
  </tr>
</thead>

<tbody id="items" value = "items" name="items" class="scrollbar ml-1">

</tbody>

</table>

<a id="showcsvfile" style="visibility: hidden;"> show the CSV file</a> 
    </div>
    <h5></h5>
    
    
  </div> 
  


  
 
  <!-- Central Modal Medium Success -->
  <div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div id="alretId" class="modal-dialog modal-notify modal-success" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
          <p id='header-modal'class="heading lead">Anomaly Detection Report</p>
 
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
        </div>
 
        <!--Body-->
        <div class="modal-body">
          <div class="text-center">
            <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
            <p>No anomalies encountered, you are good to go!</p>
          </div>
        
        </div>
        <div class="numdetecte" style="width: 5%;margin: 0 auto; color:#302673; font-size: 40px;" ><span id="pp"></span></div>
        
 
        <!--Footer-->
        <div class="modal-footer justify-content-center">
         
          <a type="button" id="btnstyle" class="btn btn-outline-success waves-effect" data-dismiss="modal">Ok</a>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!-- Central Modal Medium Success-->



<script>



var a;

$('#start').click(function() {
  $("#p").html("0")
  $("#numflow").html("0")
  
  $('#btnuplazod').attr('data-target','#centralModalSuccess');
  $('#centralModalWarning').attr('id','centralModalSuccess');
  $('#alretId').attr('class','modal-dialog modal-notify modal-success')
  $('#btnstyle').attr('class','btn btn-outline-success waves-effect')
  $('.text-center').remove();
 
  $('<div class="text-center"><i class="fas fa-check fa-4x mb-3 animated rotateIn"></i><p>No anomalies encountered, you are good to go! </p></div>').appendTo('.modal-body');
  $.ajax({
    type: "GET",
    url: '{% url "deletecsv"%}',
    success: function(json){}});
    
var aa = setInterval(function(){

$.ajax({
    type: "GET",
    url: '{% url "detectionsrealtimefun"%}',
    
    success: function(json){
      $('#numflow').html(json["t"])
        $("#p").html(json["contextQ"].length);
        document.getElementById("detection").style.visibility = "visible";
        if($('#p').text() > "0"){
          $('#btnuplazod').attr('data-target','#centralModalWarning');
          $('lottie-player').remove();
          $('<lottie-player  src=" https://assets3.lottiefiles.com/packages/lf20_S6ngTz/alert.json"  background="transparent"  speed="1" style="width: 70px; height: 50px;" loop autoplay> </lottie-player>').appendTo('#detection')
          $('#centralModalSuccess').attr('id','centralModalWarning');
          $('#alretId').attr('class','modal-dialog modal-notify modal-warning')
          $('#btnstyle').attr('class','btn btn-outline-warning waves-effect')
          $('.text-center').remove();
          $('<div class="text-center" style="width: 40%;margin: 0 auto;"><lottie-player  src="https://assets7.lottiefiles.com/packages/lf20_j3UXNf.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px;"  loop autoplay> </lottie-player><div>The number of encountered anomalies is: </div></div>').appendTo('.modal-body');
          $('#pp').text($('#p').text())
         

          document.getElementById('showcsvfile').style.visibility = 'visible'

          
        }
        if((json["contextQ"].length % 10 == 0)&&(json["contextQ"].length!=0)) {
          var audio = new Audio('../static/alarm.mp3');
          audio.play();
        }
        a= json["contextQ"]
    
        
   },
   
   });  

if($("#items").empty()){
  var table = document.createElement('table');
  
  for( var i = 0; i < a.length; i++ ) {
  
  var child = a[i];
  
  var row = table.insertRow();
  Object.keys(child).forEach(function(k) {
        var cell = row.insertCell();
        console.log(child[0])
    cell.appendChild(document.createTextNode(child[k]));
  })
  
  }
 
  
        
  document.getElementById('items').appendChild(table);

} else{
  document.getElementById('items')='a'
  }



    }
    
    ,
     5000);
      

 


  document.getElementById("loadbtn").style.visibility= "visible"
  document.getElementById("buttonstart").style.visibility="hidden"
  document.getElementById("btnuplazod").style.visibility= "visible"
  document.getElementById("start").style.visibility= "hidden"
  document.getElementById("str").src = "https://assets4.lottiefiles.com/packages/lf20_FtD13Z.json"
  alert("detection started")
  $.ajax({
  type: "GET",
  url: '{% url "showcsvfile"%}',
  success:function(data)
 {
  
  
}});
  
$('#btnuplazod').click(function() {
  $.ajax({
    type: "GET",
    url: '{% url "stopcicflowmter"%}',
    
    success: function(json){

    }})
  document.getElementById("start").style.visibility= "visible"
  document.getElementById("buttonstart").style.visibility="visible"

  document.getElementById("loadbtn").style.visibility= "hidden"

  clearInterval(aa);
});
 
});

$('#buttonstart').click(function(){
  $.ajax({
    type: "GET",
    url: '{% url "startcicflowmter"%}',
    
    success: function(json){

    }})

})
  

 </script>

{%endblock content%}